{% extends 'base.html' %}
{% block title %}
  Home
{% endblock title %}
{% block head %}
  <link rel="stylesheet" href="/static/style/glitch.css">
{% endblock head %}
{% block body %}
<div class=" mt-2 py-1 px-4">
  <div class="flex flex-col items-center mt-20 py-10">
    <h1 class="text-4xl md:text-6xl glitch">DEBA GHOSH</h1>
    <div class="flex md:text-xl text-lg mt-2 p-2 text-white text-center">
      <p>A Computer Science undergrad with interests in the field of Cyber Security, devOps</p>
    </div>
  </div>
</div>

{% endblock body %}